<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
	<title>J.A.R.V.I.S.</title>
   <link rel="stylesheet" type="text/css" href="{% static 'Css/history.css' %}">
</head>
<body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul >
            <li id = "current"><a  href="#">History</a></li>
            <li ><a style =" color:white" href="../enqj">Journey</a></li>
            <li ><a style =" color:white" href="../enqt">Trains</a></li>
            <li ><a style =" color:white" href="../dashboard">Dashboard</a></li>
            <li ><a style =" color:white" href="../booking">Book</a></li>
            <li ><a style =" color:white" href="../cancel">Cancel</a></li>
          </ul>
        </nav>
   <!--      <div id = "logout"><a style="color:black ; " href="../login">Logout</a></div> -->
      </div> 
      <div class="wrapper">
         <h1 style="font-size: 300%;">Booked Tickets</h1>
       <table style="width: 100%; text-align: left; font-size: 120%;"> 
        {% if length%}
           <tr>
            <td>PNR</td>
            <td>Train No.</td>
            <td>DoJ</td>
            <td>Start ID</td>
            <td>End ID</td>
            <td>Seats</td>
            <td>Cost</td> 
            </tr>
           {% for ticket in tickets %}
            <tr>
            <td>{{ ticket.0 }}</td>
            <td>{{ ticket.1 }}</td>
            <td>{{ ticket.3 }}</td>
            <td>{{ ticket.4 }}</td>
            <td>{{ ticket.5 }}</td>
            <td>{{ ticket.6 }}</td>
            <td>{{ ticket.7 }}</td> 
            </tr>
           {% endfor %}
          {%else%}
            <h2 style="text-align: center;">No Tickets Found</h2> 
          {%endif%}  
      </table>
      </div>
    </div>
  </body>
</html>