<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>J.A.R.V.I.S.</title>	
	<link rel="stylesheet" type="text/css" href="{% static 'Css/home.css' %}">
</head>

<body>
	<div class = "wrapper">
	<p class = "hd" id = "uhd">J.A.R.V.I.S.</p>
	<p class = "hd" id = "lhd">(Just Another Rail Vision Intelligent System)</p>

	<div id = "enter">
		<!-- <div id = "l1" onclick = "location.href = 'history?'+'user='+localStorage.getItem('user')">  -->
		<div id = "e1" onclick = "location.href = '../login'">
			<span>Click Here to Enter</span>
		</div>
	</div>
	</div>	

</body>
</html>